extends ../shared/layout
block main-content
    h1 Your profile
    .container
        img(src='/img/super_ninja.png' height="100" width="100" class="pull-left")

        h2 #{user.username}
        h4 Phone: #{user.phone}
        ul Links:
            each link in user.otherProfiles
                li
                    a(href="#{link}") #{link}
        h2 Ratings
        p Organization: #{user.organizationPoints}
        p Venue: #{user.venuePoints}

    .container
        h2 Events created by me
            table(class="table")
                thead
                    th Title
                    th Description
                    th Location
                    th Date
                    th Category
                    th Type
                    th Phone
                    th Creator
                    th Comments
                    th Participants
                    th Publicity
                tbody
                    each ev in createdEvents
                        tr(class="small")
                            td #{ev.title}
                            td #{ev.description}
                            td #{ev.location}
                            td #{ev.date}
                            td #{ev.category}
                            td
                                ul
                                    li #{ev.type.initiative}
                                    li #{ev.type.season}
                            td #{ev.phone}
                            td #{ev.creator}
                            td
                                ul
                                    each com in ev.comments
                                        li #{com}
                            td
                                ul
                                    each us in ev.users
                                        li #{us}
                            td #{ev.publicity}

    .container
        h2 Events joined by me
            table(class="table")
                thead
                    th Title
                    th Description
                    th Location
                    th Date
                    th Category
                    th Type
                    th Phone
                    th Creator
                    th Comments
                    th Participants
                    th Publicity
                tbody
                    each ev in joinedEvents
                        tr(class="small")
                            td #{ev.title}
                            td #{ev.description}
                            td #{ev.location}
                            td #{ev.date}
                            td #{ev.category}
                            td
                                ul
                                    li #{ev.type.initiative}
                                    li #{ev.type.season}
                            td #{ev.phone}
                            td #{ev.creator}
                            td
                                ul
                                    each com in ev.comments
                                        li #{com}
                            td
                                ul
                                    each us in ev.users
                                        li #{us}
                            td #{ev.publicity}

    .container
        h2 Passed events created by me
            table(class="table")
                thead
                    th Title
                    th Description
                    th Location
                    th Date
                    th Category
                    th Type
                    th Phone
                    th Creator
                    th Comments
                    th Participants
                    th Publicity
                tbody
                    each ev in passedEvents
                        tr(class="small")
                            td #{ev.title}
                            td #{ev.description}
                            td #{ev.location}
                            td #{ev.date}
                            td #{ev.category}
                            td
                                ul
                                    li #{ev.type.initiative}
                                    li #{ev.type.season}
                            td #{ev.phone}
                            td #{ev.creator}
                            td
                                ul
                                    each com in ev.comments
                                        li #{com}
                            td
                                ul
                                    each us in ev.users
                                        li #{us}
                            td #{ev.publicity}

    form(method="post" class="form-group")
        .input-group
            label(for="other-profiles" class="input-group-addon") Add other profiles links separated by semicolon ';'
            input(id="other-profiles" class="form-control" type="text" name="otherProfiles" placeholder="Links")
        br
        .input-group
            label(for="phone" class="input-group-addon") Change phone number
            input(id="phone" class="form-control" type="text" name="phone" placeholder="Phone number")
        br
        input(type="submit" class="button btn-primary center-block" value="Submit")